@thumbnailDim: 216px;
@linkColor: DodgerBlue;
@almostBlack: #272822;
@editorBack: #eaeaea; //#eaeaea;
@editorBorder: 1px solid #afafaf;
@editorColor: @almostBlack;

html {
	height: 100%;
}

body {
	font-family: Menlo, monospace;
	font-size: 9pt;
	text-align: left;
	color: @almostBlack;
	margin: 0;
	padding: 0;
	height: 100%;
}

.editor {
	color: @editorColor;
	background-color: @editorBack;
	border-bottom: @editorBorder;
	padding: 4px 12px;
	a {
		color: @editorColor;
		text-decoration: none;
	}
}

.header {
	margin: 12px;
	padding: 0px;

	display: -webkit-box;					/* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;						/* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;					/* TWEENER - IE 10 */
	display: -webkit-flex;				/* NEW - Chrome */
	display: flex;								/* NEW, Spec - Opera 12.1, Firefox 20+ */

	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-align-items: flex-start;
	align-items: flex-start;

	font-family: 'Helvetica Neue';
	font-size: 24pt;
	.dblogo {
		font-weight: bold;
	}
	a {
		text-decoration: none;
		color: @almostBlack;
		:visited {
			color: red;
		}
		:hover {
			color: orange;
		}
	}

	.headline{
		font-family: inherit;
		font-size: inherit;
		-webkit-flex-grow: 1;
		flex-grow: 1;
	}
	.search {
		padding: 0px;
		border: 0px;
		-webkit-align-self: flex-end;
		align-self: flex-end;
		input[type=text]{
			color: @almostBlack;
			font-weight: bold;
			font-family: inherit;
			font-size: inherit;
			padding: 0px 6px;
			border: 0px;
			text-align: right;
		}
	}
}

.addDoc {
	display: -webkit-box;					/* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;						/* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;					/* TWEENER - IE 10 */
	display: -webkit-flex;				/* NEW - Chrome */
	display: flex;								/* NEW, Spec - Opera 12.1, Firefox 20+ */

	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
	margin: 0px;
	color: white;
	background-color: #272822;
	width: 100%;
	height: 100vh;
	input[type=file], input[type="button"], button {
		font-family: Menlo, monospace;
		display: block !important;
	}	
}

.showDocFull {
	margin: 12px;
	.docOverview {
		margin: 0px;
		img {
			border: 6px #eee solid;
		}
		.docMeta {
			margin: 0px;
			.tag {
				background-color: #fff;
				.remove {
					color: white;
					background-color: @almostBlack;
					padding: 0px 2px;
					margin-left: 2px;
				}
			}
		}
	}
}

.loginform {
	margin: 24px;
	ol {
		margin-top: 2em;
	}
	.adminHead {
		margin: 24px 0px;
	}
}

.container {
	display: -webkit-box;					/* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;						/* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;					/* TWEENER - IE 10 */
	display: -webkit-flex;				/* NEW - Chrome */
	display: flex;								/* NEW, Spec - Opera 12.1, Firefox 20+ */

	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-align-items: flex-start;
	align-items: flex-start;

	.docinfo {
		margin: 0px;
		background-color: orange;
		padding: 2px 8px 2px 0px;
		position: absolute;
		display: block;

		.remove {
			color: white;
			background-color: @almostBlack;
			padding: 2px 4px;
		}
	}
	.docbox {
		padding: 0px;
		margin: 3px;

		-webkit-flex-grow: 1;
		flex-grow: 1;

		overflow-x: hidden;
		overflow-y: hidden;
		width: @thumbnailDim;
		height: @thumbnailDim;

		display: -webkit-box;					/* OLD - iOS 6-, Safari 3.1-6 */
		display: -moz-box;						/* OLD - Firefox 19- (buggy but mostly works) */
		display: -ms-flexbox;					/* TWEENER - IE 10 */
		display: -webkit-flex;				/* NEW - Chrome */
		display: flex;								/* NEW, Spec - Opera 12.1, Firefox 20+ */

		justify-content: center;

		figure {
			margin: 0;

			-webkit-flex-grow: 1;
			flex-grow: 1;

			display: -webkit-box;					/* OLD - iOS 6-, Safari 3.1-6 */
			display: -moz-box;						/* OLD - Firefox 19- (buggy but mostly works) */
			display: -ms-flexbox;					/* TWEENER - IE 10 */
			display: -webkit-flex;				/* NEW - Chrome */
			display: flex;								/* NEW, Spec - Opera 12.1, Firefox 20+ */

			-webkit-align-items: center;
			align-items: center;
			-webkit-justify-content: center;
			justify-content: center;
			
			canvas {
				display: block;
			}

			img {
					display: block;
			}
		}
	}
}

.contentbackground {
	width: 100%;
	height:100%;
	.spriteBoxImage {
		width: 100%;
		height:100%;
		z-index: 0;

		-webkitflex-grow: 1;
		flex-grow: 1;
		
		display: -webkit-box;					/* OLD - iOS 6-, Safari 3.1-6 */
		display: -moz-box;						/* OLD - Firefox 19- (buggy but mostly works) */
		display: -ms-flexbox;					/* TWEENER - IE 10 */
		display: -webkit-flex;				/* NEW - Chrome */
		display: flex;								/* NEW, Spec - Opera 12.1, Firefox 20+ */
		
		-webkit-justify-content: center;
		justify-content: center;
		-webkit-align-items: center;
		align-items: center;
		-webkit-flex-direction: column;
		flex-direction: column;
	}
}

.docMeta {
	padding: 12px;
	bottom: 0px;
	position: fixed;
	z-index: 5;
	color: #aaa;
	width: 100%;
	background-color: @editorBack;
	padding: 0;
	a {
		color: #aaa;
	}
	.editMeta {
		font-size: 18px;
		padding: 12px;
		border-top: @editorBorder;
		input[type=text] {
			margin: 0px;
			padding: 2px;
			font-family: inherit;
			font-size: inherit;
			border: 0px;
			background-color: inherit;
		}
	}
}

.eboycopyright {
	position: fixed;
	right: 0px;
	padding: 0 2px;
}

.spriteBoxInfoToggle {
	position: fixed;
	right: 0px;
	bottom: 0px;
	padding: 4px 8px;
}

ol {
	background-color: #171714;
	margin: 0;
	padding: 0em 0em;
}

ol li {
	list-style-type: none;
	color: #aaa;
}

ol li .property {
	color: #D39322;
}

.myPixInput {
	padding: 12px 10px;
	background-color: nonce;
}

.paging {
	background-color: none;
	padding: 12px;
}

.previous:hover, .next:hover {
	color: white;
	background-color: blue;
}

.previous:active, .next:active {
	color: white;
	background-color: black;
}