/* CSS declarations go here */
body {
	font-family: Menlo, monospace;
	font-size: 9pt;
	text-align: left;
	margin: 0;
}

h1 {
	font-family: sans-serif;
	padding-left: 10px;
	color: #444;
	/*padding-left: 18px;*/
}

.myPixInput {
	/*width: auto;*/
	padding: 12px 10px;
	/*margin-bottom: 12px;*/
	background-color: nonce;
	/*display: block;*/
}

.paging {
	/*text-align: center;*/
	background-color: none;
	padding: 12px;
}

.previous:hover, .next:hover {
	color: white;
	background-color: blue;
}

.previous:active, .next:active {
	color: white;
	background-color: black;
}

ol {
	padding: 0 0 0 1em;
}

ol li {
	list-style-type: none;
}

ol li .property {
	color: Crimson;
}