@thumbnailDim: 216px;
@linkColor: DodgerBlue;
@almostBlack: #272822;

html {
	height: 100%;
	// background-color: blue;
}

body {
	font-family: Menlo, monospace;
	font-size: 9pt;
	text-align: left;
	color: @almostBlack;
	// height: 100%;
	margin: 0;
	padding: 0;
	height: 100%;
}

.header {
	// background-color: orange;
	margin: 12px;
	padding: 0px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	font-family: 'Helvetica Neue';
	font-size: 24pt;
	.dblogo {
		font-weight: bold;
	}
	a {
		text-decoration: none;
		color: @almostBlack;
		:visited {
			color: red;
		}
		:hover {
			color: orange;
		}
	}

	.headline{
		font-family: inherit;
		font-size: inherit;
		// background-color: yellow;
		flex-grow: 1;
		// color: #444;
	}
	.search {
		padding: 0px;
		border: 0px;
		align-self: flex-end;
		// flex-grow: 2;
		input[type=text]{
			color: @almostBlack;
			font-weight: bold;
			font-family: inherit;
			font-size: inherit;
			// background-color: Linen;
			padding: 0px 6px;
			border: 0px;
			text-align: right;
		}
	}
}

.addDoc {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0px;
	color: white;
	background-color: #272822;
	width: 100%;
	height: 100vh;
	input[type=file], input[type="button"], button {
		font-family: Menlo, monospace;
		// font-size: 18pt;
		display: block !important;
   	// width: 157px !important;
   	// height: 57px !important;
   	// opacity: 0 !important;
   	// overflow: hidden !important;
	}	
}

.showDocFull {
	// background-color: yellow;
	margin: 12px;
	.docOverview {
		margin: 0px;
		img {
			border: 1px #ccc solid;
		}
		.docMeta {
			margin: 0px;
			.tag {
				background-color: #fff;
				// padding-left: 4px; 
				// border: 0px 1px solid #ddd;
				// margin: 0;
				.remove {
					color: white;
					background-color: @almostBlack;
					padding: 0px 2px;
					margin-left: 2px;
					// border-radius: 12px;
				}
			}
		}
	}
}

.loginform {
	margin: 24px;
	ol {
		margin-top: 2em;
	}
}

.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;

	.docinfo {
		margin: 0px;
		background-color: orange;
		padding: 2px 8px 2px 0px;
		position: absolute;
		display: block;

		.remove {
			color: white;
			background-color: @almostBlack;
			padding: 2px 4px;
		}
	}
	.docbox {
		padding: 0px;
		margin: 3px;
		flex-grow: 1;
		overflow-x: hidden;
		overflow-y: hidden;
		width: @thumbnailDim;
		height: @thumbnailDim;
		display: flex;
		justify-content: center;

		figure {
			flex-grow: 1;
			margin: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			canvas {
				display: block;
			}

			img {
				  display: block;
			}
		}
	}
}
// .imprint {
// 	// margin-left: 12px;
// 	z-index: 5;
// 	top: 0px;
// 	position: fixed;
// 	// background-color: yellow;
// 	margin: 12px;
// 	text-shadow:
// 		rgba(0,0,0,0.1) -1px 0,
// 		rgba(0,0,0,0.1) 0 -1px,
// 		rgba(255,255,255,0.1) 1px 0,
// 		rgba(255,255,255,0.1) 0 1px,
// 		rgba(0,0,0,0.2) -1px -1px,
// 		rgba(255,255,255,0.1) 1px 1px;
// }
.contentbackground {
	width: 100%;
	height:100%;
	// display: flex;
	// justify-content: center;
	// align-items: center;
	// flex-direction: column;
	// margin: 0;
	.spriteBoxImage {
		width: 100%;
		height:100%;
		// padding-bottom: 2em;
		// background-color: red;
		z-index: 0;
		flex-grow: 1;
		// padding: 3px;
		// margin: 24px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		canvas {
			// padding-bottom: 48px;
		}
	}
}

.docMeta {
	padding: 12px;
	bottom: 0px;
	position: fixed;
	z-index: 5;
	color: #aaa;
	// align-self: flex-end;
	width: 100%;
	background-color: #E6E6E6;
	// padding-bottom: 1em;
	padding: 0;
	a {
		color: #aaa;
	}
	.editMeta {
		font-size: 18px;
		// background-color: cyan;
		padding: 12px;
		border-top: 1px #ccc solid;
		input[type=text] {
			margin: 0px;
			padding: 2px;
			font-family: inherit;
			font-size: inherit;
			border: 0px;
			background-color: inherit;
		}
	}
}

.eboycopyright {
	position: fixed;
	right: 0px;
	padding: 0 2px;
}

.spriteBoxInfoToggle {
	position: fixed;
	right: 0px;
	bottom: 0px;
	padding: 4px 8px;
	// background-color: #171714;
}

ol {
	background-color: #171714;
	margin: 0;
	padding: 0em 0em;
}

ol li {
	list-style-type: none;
	color: #aaa;
}

ol li .property {
	color: #D39322;
}


.myPixInput {
	/*width: auto;*/
	padding: 12px 10px;
	/*margin-bottom: 12px;*/
	background-color: nonce;
	/*display: block;*/
}

.paging {
	/*text-align: center;*/
	background-color: none;
	padding: 12px;
}

.previous:hover, .next:hover {
	color: white;
	background-color: blue;
}

.previous:active, .next:active {
	color: white;
	background-color: black;
}