/* CSS declarations go here */
body {
	font-family: monospace;
	font-size: 10pt;
	text-align: left;
}

.container {
	display: flex;
	/*background-color: #eee;*/
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	/*width: auto;*/
	/*display: inline-block;*/
	/*text-align: left;*/
}

.item {
	padding: 0px;
	/*margin: 12px;*/
	/*padding: 6px;*/
	/*flex-grow: 4;*/
	/*align-self: flex-start;*/
	/*max-width: 216px;*/
	/*max-height: 216px;*/
	overflow-x: hidden;
	overflow-y: hidden;
	width: 216px;
	height: 216px;
	display: flex;
	justify-content: center;
	justify-items: center;
	align-items: center;
}

.item img {
}

.showDocFull img {
	border: 1px #eee solid;
	/*background-color: #eee;*/
}

h1 {
	font-family: sans-serif;
	/*padding-left: 18px;*/
}

.myPixInput {
	/*width: auto;*/
	padding: 12px 10px;
	/*margin-bottom: 12px;*/
	background-color: yellow;
	/*display: block;*/
}

.remove {
	background-color: orange;
	padding: 4px 8px;
	position: absolute;
	/*float: right;*/
	/*margin-left: 392px;*/
}

.paging {
	/*text-align: center;*/
	background-color: cyan;
	padding: 12px;
}

.previous:hover, .next:hover {
	color: white;
	background-color: blue;
}

.previous:active, .next:active {
	color: white;
	background-color: black;
}
figcaption {
	padding-bottom: 3px;
	margin-bottom: 9px;
	/*border-bottom: #555 1px dashed;*/
}


