<template name="docEdit">
	{{#with thisPix}}
		<div class="showDocFull">
			<div class="docOverview">
				<a class="goSpriteBox">
					<img style="background-color: {{backColor}}" src="{{this.url}}"/>
				</a>
			</div>
		</div>
		{{#if currentUser.profile.isEditor}}
			<div class="docMeta">
				<div class="editMeta">
					<div><label class="property">add</label>:
						<input
							type="text"
							name="tags"
							value=""
							class="addTag"
							placeholder="tag"
							maxlength="24"
							size="28"
							tabIndex = "1"
						>
					</div>
					<div><label class="property">add</label>:
						<input
							type="text"
							name="relations"
							value=""
							class="addRelation"
							placeholder="relation"
							maxlength="24"
							size="28"
							tabIndex = "1"
						>
					</div>
					<div><label class="property">background</label>:
						<input
							type="text"
							name="backColor"
							value="{{this.metadata.backColor}}"
							class="editBackColor"
							maxlength="24"
							size="21"
							tabIndex = "2"
						>
					</div>
					<div><label class="property">fullframe</label>:
						<span class="fullframeToggle" tabIndex = "3">
								{{#if this.metadata.fullframe}}
									true
								{{else}}
									false
								{{/if}}
						</span>
					</div>
					<div><label class="property">madeDate</label>:
						<input
							type="text"
							name="madeDate"
							value = "{{madeDateGMT.iso}}"
							class="editMadeDate"
							maxlength="39"
							size="23"
							tabIndex = "4"
						>
					</div>
					<div><label class="property">license</label>:
						<input
							type="text"
							name="license"
							value="{{this.metadata.license}}"
							class="editLicense"
							maxlength="24"
							size="24"
							tabIndex = "5"
						>
					</div>
					<div><label class="property">add link</label>:
						<input
							type="text"
							name="linkName"
							placeholder="name"
							id="editLinkName"
							maxlength="26"
							size="23"
							tabIndex = "6"
						>
					</div>
					<div class="editLink" style="display: {{displayLinkFields}}">
						<div><label class="property"></label>:
							<input
								type="text"
								name="linkLabel"
								placeholder="label"
								id="editLinkLabel"
								maxlength="24"
								size="31"
								tabIndex = "7"
							>
						</div>
						<div><label class="property"></label>:
							<input
								type="text"
								name="linkURL"
								placeholder="url"
								id="editLinkURL"
								maxlength="256"
								size="31"
								tabIndex = "8"
							>
							<span class="submitLinkButton">
								<a id="submitLink" tabIndex = "9">[submit]</a>
							</span>
						</div>
					</div>
				</div>
				<ol>
					{{#if metadata.tags}}
						<li>
							<span class="property">metadata.tags</span>:
							{{#each this.metadata.tags}}
								<span class="removeTag">(×)</span><span class="tag">{{this}}</span>
							{{/each}}
						</li>
					{{/if}}
					{{#if metadata.relations}}
						<li>
							<span class="property">metadata.relations</span>:
							{{#each this.metadata.relations}}
								<span class="removeRelation">(×)</span><span class="tag">{{this}}</span>
							{{/each}}
						</li>
					{{/if}}
					<li>
						<span class="property">metadata.backColor</span>
						: {{this.metadata.backColor}}
						<span style="color:{{ this.metadata.backColor }}">&#9724;</span>
					</li>
					<li><span class="property">metadata.fullframe</span>:
						{{#if this.metadata.fullframe}}
							{{this.metadata.fullframe }}
						{{else}}
							false
						{{/if}}
					</li>
					{{#if madeDateGMT.iso }}
						<li><span class="property">metadata.madeDate</span>: {{madeDateGMT.iso}}</li>
					{{/if}}
					{{#if this.metadata.license}}
						<li><span class="property">metadata.license</span>: {{this.metadata.license}}</li>
					{{/if}}
					{{#if hasLinks}}
						<li><span class="property">collection.links</span>:
							{{#each showLinks}}
								<span class="removelink">(×)</span>{{this.label}}:
								{{#if this.url}}
									<a href="{{this.url}}">{{this.name}}</a>
								{{else}}
									{{this.name}}
								{{/if}}
							{{/each}}
						</li>
					{{/if}}
					<li class='moreMetaToggle'>
						<span id='toggleEditorMenu'>
							{{#unless displayMoreMeta}}
								...
							{{/unless}}
						</span>
					</li>
					{{#if displayMoreMeta}}
						<div id='moreMeta'>
							<li><span class="property">_id</span>: {{this._id}}</li>
							<li><span class="property">name</span>: {{this.name}}</li>
							<li><span class="property">uploadedAt</span>: {{this.uploadedAt}}</li>
							<li><span class="property">metadata.width</span>: {{this.metadata.width}}<span class="unit">px</span></li>
							<li><span class="property">metadata.height</span>: {{this.metadata.height}}<span class="unit">px</span></li>
							<li><span class="property">size</span>: {{sizeFormatted.value}}<span class="unit">{{sizeFormatted.unit}}</span></li>
							<li><span class="property">metadata.copyright</span>: {{this.metadata.copyright}}</li>
							{{#if this.metadata.uploadedBy.id}}
								<li><span class="property">uploadedBy.id</span>: {{this.metadata.uploadedBy.id}}</li>
							{{/if}}
							{{#if this.metadata.uploadedBy.username}}
								<li><span class="property">uploadedBy.username</span>: {{this.metadata.uploadedBy.username}}</li>
							{{/if}}
							{{#if showThisUserName}}
								<li><span class="property">users.username</span>: {{showThisUserName}}</li>
							{{/if}}
							<li class='moreMetaToggle'>
								<span id='toggleEditorMenu'>
									{{#if displayMoreMeta}}
										.
									{{/if}}
								</span>
							</li>
						</div>
					{{/if}}
				</ol>
			</div>
		{{/if}}
	{{/with}}
</template>
