<template name="docEdit">
	{{>docHeader}}
	<div class="showDocFull">
		<div class="docOverview">
			<!-- <img style="background-color: none" src="{{ this.url 	store='OriginalPix' }}" width="{{ this.	metadata.width }}" height="{{ this.metadata.height }}" /> -->
			<!-- <img style="background-color: none" src="{{ this.url 	store='OriginalPix' }}" width="{{ 	deviceDimensions.width }}" height="{{ deviceDimensions.height }}" /> -->
			<a href="{{ pathFor 'spriteBox' boxsize='512' }}">
				<img style="background-color: {{ backColor }}" src="{{ this.url store='OriginalPix' }}" width="{{ 	deviceDimensions.width }}" height="{{ deviceDimensions.height }}" />
			</a>
		</div>
	</div>
	<div class="docMeta">
		<div class="editMeta">
			<div>add:
				<input
					type="text"
					name="tags"
					value=""
					class="addTag"
					placeholder="tag"
					maxlength="24"
					size="21"
				>
			</div>
			<div>edit:
				<input
					type="text"
					name="backColor"
					value="{{ this.metadata.backColor }}"
					class="editBackColor"
					maxlength="24"
					size="20"
				>
			</div>
		</div>
		<ol>
			<li><span class="property">name</span>: {{ this.name }}</li>
			<li><span class="property">uploadedAt</span>: {{this.uploadedAt}}</li>
			<li><span class="property">metadata.width</span>: {{this.metadata.width}}</li>
			<li><span class="property">metadata.height</span>: {{this.metadata.height}}</li>
			<li><span class="property">metadata.copyright</span>: {{this.metadata.copyright}}</li>
			<li><span class="property">metadata.backColor</span>: {{ this.metadata.backColor }}</li>
			<li>
				<span class="property">metadata.tags</span>: 
				{{#each this.metadata.tags}}
					<span class="tag">{{this}}<span class="remove">(X)</span></span>
				{{/each}}
			</li>
		</ol>
	</div>
</template>