<template name='editorMenu'>
	{{#if currentUser.profile.isEditor}}
		<div id="editorMenu">
			<span id='toggleEditorMenu'>
				{{#if showEditor}}
					.
				{{else}}
					...
				{{/if}}
			</span>
			{{#if showEditor}}
				<a href="{{ toPoolPath }}">pool</a> |
				<a href="{{ toAddDocPath }}">addDoc</a> |
				<a href="{{ toColorsPath }}">colors</a> |
				<a href="{{ toTagsPath }}">tags</a> |
				<a href="{{ toLoginPath }}">{{ thisUserName }}</a>
				{{#if onSpriteBox}}
					| <a href="{{ toDocEditPath }}" title="Edit {{onSpriteBox.id}}">{{onSpriteBox.id}}</a>
				{{/if}}
			{{/if}}
		</div>
	{{/if}}
</template>
