<template name="mainHeader">
	<div class="header">
		<span class="headline">
			{{#if currentUser.profile.isEditor}}
				<a href="{{ pathFor 'addDoc' }}">+</a>
			{{/if}}
			<a href="{{ pathFor route='pool' page=1 slug='all' }}" class="dblogo">eboydb</a>: {{ postsCount }} docs – p{{ 	currentPage }}/{{ totalPages }}
		</span>
		{{> searchPool}}
	</div>
</template>

<template name="docHeader">
	<div class="header">
		<span class="headline">
			<a href="" id="goBack" class="dblogo">eboydb</a>: {{ this._id }}
		</span>
		<a href="{{ pathFor 'addDoc' }}">+</a>
	</div>
</template>


<template name="addDocument">
	<div class="addDoc">
		<input type="file" name="myFile" class="myPixInput">
	</div>
</template>

<template name="searchPool">
	<span class="search">
		<input 
			type="text"
			name="searchDB"
			value="{{ slug }}"
			class="searchFor"
			maxlength="24"
			size="9">
	</span>
</template>