<template name="mainHeader">
	<div class="header">
		<span class="headline">
			<a href="{{ pathFor route='pool' page=1 slug='all' }}" class="dblogo">{{ name }}</a>
		</span>
		{{> searchPool}}
	</div>
	{{> pagingHeader }}
</template>

<template name="searchPool">
	<span class="search">
		<input 
			type="text"
			name="searchDB"
			value="{{ slug }}"
			class="searchFor"
			maxlength="24"
			size="9">
	</span>
</template>

<template name="pagingHeader">
	<div class="paging">
		<a class="previous">previous</a> | 
		<a class="next">next</a>
		<span class="pagestats"> /_
			(docs: {{ postsCount }}, pages:{{ currentPage }}/{{ totalPages }})
		</span>
	</div>
</template>