<template name="mainHeader">
	<div class="header">
		<span class="headline">
			<a href="{{ pathFor route='pool' page=1 slug='all' }}">eboydb</a>: {{ postsCount }} docs – p{{ 	currentPage }}/{{ totalPages }}
		</span>
		{{> searchPool}}
	</div>
	<!-- {{> addDocument}} -->
</template>


<template name="addDocument">
	<span class="addDoc">
		<input type="file" name="myFile" class="myPixInput">
	</span>
</template>

<template name="searchPool">
	<span class="search">
		<input 
			type="text"
			name="searchDB"
			value="{{ searchSlug }}"
			class="searchFor"
			maxlength="24"
			size="9">
	</span>
</template>