<template name="newLogin">
	<div class="loginform">
		{{> loginButtons}}
		{{#if currentUser}}
			<div class="docMeta">
				<ol>
					<li><span class="property">_id</span>: {{ currentUser._id }}</li>
					{{#if currentUser.username}}
						<li><span class="property">username</span>: {{ currentUser.username }}</li>
					{{/if}}
					{{#if currentUser.profile.name}}
						<li><span class="property">profile.name</span>: {{ currentUser.profile.name }}</li>
					{{/if}}
					{{#if currentUser.profile.isAdmin}}
						<li><span class="property">profile.isAdmin</span>: {{ currentUser.profile.isAdmin }}</li>
					{{/if}}
					{{#if currentUser.profile.isEditor}}
						<li><span class="property">profile.isEditor</span>: {{ currentUser.profile.isEditor }}</li>
					{{/if}}
					{{#if currentUser.emails.[0].address}}
						<li><span class="property">currentUser.emails.[0].address</span>: {{ currentUser.emails.[0].address }}</li>
					{{/if}}
					{{#if currentUser.profile.isAdmin}}
						<li><span class="property">Registered Users</span>: {{ usersCount }}</li>
						{{#each showUsers}}
							<li>
								<span class="property">_id</span>: {{ this._id }},
								<span class="property">username</span>: {{ this.username }},
								<span class="property">profile.name</span>: {{ this.profile.name }},
								<span class="property">isAdmin</span>: 
								<input type="checkbox" class="adminCheck" checked="{{ this.profile.isAdmin }}"/>
								<span class="property">isEditor</span>: 
								<input type="checkbox" class="editorCheck" checked="{{ this.profile.isEditor }}"/>
							</li>
						{{/each}}
					{{/if}}
				</ol>
			</div>
		{{/if}}
	</div>
</template>