<template name="pool">
	{{> mainHeader }}
	<div class="container">
		{{#each showPix}}
			<div class="docbox" style="background-color: {{ backColor }}">
				{{#if currentUser.profile.isEditor}}
					<div class="docinfo"><span class='remove'>(×)</span>_
						<a href="{{ pathFor 'docEdit' }}">
							{{ this.metadata.backColor }} {{ this.metadata.width }}w {{ scaledSprite.scaleFactor }}x
						</a>
					</div>
				{{/if}}
				<figure>
					<a href="{{ pathFor 'spriteBox' boxsize='512'}}">
						<img src="{{ this.url }}" style="width:{{ scaledSprite.width }}px; height: {{ scaledSprite.height }}px;" alt="{{ this.name }}">
					</a>
				</figure>
			</div>
		{{/each}}
	</div>
</template>