<template name="poolHeader">
	<div class="topnav">
		<div class="header">
			<span class="headline">
				<a href="{{toHomePath}}" class="dblogo">{{name}}</a>
			</span>
			{{> newSearchPool}}
		</div>
		{{> newPagingHeader}}
	</div>
</template>

<template name="newSearchPool">
	<span class="search">
		<form class="seachDbForm">
			<input
				type="text"
				onclick="this.focus(); this.setSelectionRange(0, 9999);"
				name="searchDB"
				value="{{searchTerm}}"
				class="searchFor"
				id="searchField"
				maxlength="24"
				size="12"
				tabIndex = "1"
			>
		</form>
	</span>
</template>

<template name="newPagingHeader">
	<div class="paging">
		<span>
			<a class="previous" onclick="">previous</a> |
			<a class="next" onclick="">next</a>
		</span>
		<span class="pagestats">
			p.{{currentPage}}/{{totalPages}} c.{{postsCount}}
		</span>
	</div>
</template>
