<template name="pool">
	{{> mainHeader }}
	<div class="container">
		{{#each showPix}}
			<div class="docbox" style="background-color: {{ backColor }}; {{ scaledSprite.styleMaxDocBoxWidth }} {{ styleFlexOff }}">
				{{#if currentUser.profile.isEditor}}
					<div class="docinfo"><span class='remove'>(×)</span>_
						<a href="{{ pathFor 'docEdit' }}">
							{{ madeDate }} {{ this.metadata.width }}w {{ scaledSprite.scaleFactor }}x
						</a>
					</div>
				{{/if}}
				<figure>
					<a class="leavePool" href="{{ pathFor 'spriteBox' boxsize='auto'}}">
						<img src="{{ this.url }}" style="width:{{ scaledSprite.width }}px; height: {{ scaledSprite.height }}px; {{ styleSoftRender }}" alt="{{ this.name }}">
					</a>
				</figure>
			</div>
		{{/each}}
	</div>
</template>