<template name="spriteBox">
<html>
	<script>
		var myImage = new Image();
		myImage.src="{{ sprite.url store='OriginalPix' }}";
		myImage.onload = function() {
			var c = document.getElementById("myCanvas");
			var ctx = c.getContext("2d");
			ctx.fillStyle = "{{ backColor }}";
			ctx.fillRect(0, 0, {{ scaledSprite.widthDevice }}, {{ scaledSprite.heightDevice }});
			ctx.mozImageSmoothingEnabled = false;
			ctx.webkitImageSmoothingEnabled = false;
			ctx.msImageSmoothingEnabled = false;
			ctx.imageSmoothingEnabled = false;
			ctx.drawImage(
				myImage,
				0,
				0,
				{{ scaledSprite.widthDevice }},
				{{ scaledSprite.heightDevice }}
			);
	
			// generate png from canvas
			var foo = document.getElementById("genImg");
			var dataURL = c.toDataURL("image/png");
			// foo.src = imageGenerated;
			{{#if currentUser.profile.isEditor}}
				foo.href = dataURL;
			{{/if}}
		}
	</script>
	<div class="eboycopyright" style="color:{{ inverseBackColor }}">©eBoy</div>
	<div class="spriteBoxInfoToggle" style="color:{{ inverseBackColor }}">^</div>
	<div class="contentbackground" style="background-color: {{ backColor }}">
		<div class="spriteBoxImage">
			<div>
				<a href="" class="goBack">
					<canvas id="myCanvas" width="{{ scaledSprite.widthDevice }}" height="{{ scaledSprite.heightDevice }}" style="width:{{ scaledSprite.width }}px; height: {{ scaledSprite.height }}px;	">
						This browser does not support HTML5 canvas
					</canvas>
				</a>
			</div>
			<!-- <img id="genImg" src="myPicture.png" alt="Description of my picture" /> -->
			
		</div>
		<div class="docMeta" id="spriteBoxInfo" style="display: {{ visibility }}">
			<div class="spriteBoxInfoToggle">X</div>
			<ol>
				<li><span class="property">id</span>: {{ sprite._id }}</li>
				<li><span class="property">name</span>: {{ sprite.name }}</li>
				<li><span class="property">date-added</span>: {{sprite.uploadedAt}}</li>
				<li><span class="property">width</span>: {{sprite.metadata.width}}<span class="unit">px</span></li>
				<li><span class="property">height</span>: {{sprite.metadata.height}}<span class="unit">px</span></li>
				<li><span class="property">copyright</span>: {{sprite.metadata.copyright}}</li>
				<li>
				<span class="property">metadata.tags</span>: 
					{{#each sprite.metadata.tags}}
						<span class="tag">{{ this }}</span>
					{{/each}}
				</li>
				<li><span class="property">background-color</span>: {{ sprite.metadata.backColor }}</li>
				{{#if currentUser.profile.isEditor}}
					<li><span class="property">boxsize</span>: {{ boxsize }}<span class="unit">px</span></li>
					<li><span class="property">scaledSprite-width</span>: {{ scaledSprite.width }}<span class="unit">px</span></li>
					<li><span class="property">scaledSprite-height</span>: {{ scaledSprite.height	}}<span class="unit">px</span></li>
					<li><span class="property">scaledSprite-scaleFactor</span>: {{ scaledSprite.scaleFactor }}x</li>
					<li><span class="property">window-devicePixelRatio</span>: {{ devicePixelRatio }} </li>
					<li><span class="property">scaledSprite-widthDevice</span>: {{ scaledSprite.widthDevice }}<span class="unit">px</span></li>
					<li><span class="property">scaledSprite-heightDevice</span>: {{ scaledSprite.heightDevice }}<span class="unit">px</span></li>
					<li><span class="property">scaledSprite-scaleFactorDevice</span>: {{ 	scaledSprite.scaleFactorDevice }}x</li>
					<li><span class="property">download</span>: <a id="genImg" href="" target="	_blank">PNG</a></li>
					<li><span class="property">uploadedBy.id</span>: {{sprite.metadata.uploadedBy.id}}</li>
					<li><span class="property">uploadedBy.username</span>: {{sprite.metadata.uploadedBy.username}}</li>
				{{/if}}
			</ol>
		</div>
	</div>
</html>
</template>